.loader {
    border: 16px solid #E0E0E0;
    border-top: 16px solid #0358FD;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-top: 30px;
    animation: spin 1.5s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}