.results-container {
    background-image: url('../../assets/aurora-borealis.jpg');
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    min-height: 400px;
}

@media(min-width: 600px){
    .results-container {
        min-height: 350px;
    }
}

.result-text {
    background-color: #0358FD;
    padding: 20px 40px;
    max-width: 1100px;
    width: 100%;
}

.result-text h2 {
    color: #FFF;
    text-align: center;
}

.country-info-container{
    padding: 16px 0;
    background-color: rgba(0,0,0, 0.2);
    width: 100%;
    max-width: 1100px;
}

.country-info-container h3 {
    text-align: center;
    color: #0358FD;
}

.country-info-container ul {
    padding: 16px 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.country-info-container ul li {
    padding: 4px 0;
    color: rgb(212, 212, 212);
}

.country-info-container ul li strong {
    color: #0358FD;
}