main .subtitle {
    text-align: center;
    margin-bottom: 30px;
}

.questions-container {
    padding: 30px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.send-answers {
    margin-top: 16px;
}